@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: orange;
  color: #007BFF;
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 92%;
  height: 320px;
}

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    position: relative; /* */
    bottom: 310px;     /* */
    color: white;
    background-color: #6495ED;
    font-size: 4rem;
    display: inline;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .left {
    grid-column: 6 / 12;
  }

  .last {
    position: relative;
    right: -280px;
    width: 100%;
    top: 195px;
  }

  .creds {
    position: relative;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 315px;
    padding: 15px 15px 15px 15px;
    height: 105px;
    text-align: center;
    right: 655px;
  }

  .creds h3,h5 {
    color: black;
  }

  .third-word {
    font-size: 75px;
    text-align: right;
    margin-right: 57px;
    margin-bottom: 8px;
    padding-bottom: 25px;
    position: relative;
    bottom: 34px;
  }

  .second-word {
    font-size: 75px;
    text-align: left;
    margin-bottom: -30px;
    margin-left: 50px;
  }

  .first-word {
    font-size: 75px;
    text-align: center;
    margin-bottom: -60px;
  }

  .mid {
    width: 1320px;
  }

  .mid p {
    font-size: 33px;
  }

@media only screen and (max-width: 1024px){
.first-word {
  font-size: 65px;
  text-align: center;
  margin-bottom: -40px;
}
.second-word {
  font-size: 65px;
  text-align: left;
  margin-bottom: -45px;
  position: relative;
  left: -35px;
  top: -10px;
}
.third-word {
  font-size: 65px;
  text-align: right;
  position: relative;
  left: 40px;
  top: -15px;
}
header {
  background: orange;
  color: #007BFF;
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 465px;
}
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}
blockquote p {
  position: relative; /* */
  bottom: 400px;     /* */
  color: white;
  background-color: #6495ED;
  font-size: 35px;
  display: inline;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.last {
  position: relative;
  right: -165px;
  top: 315px;
}
.last p {
    font-size: 30px;
  }
.creds {
  position: relative;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 305px;
  padding: 15px 15px 15px 15px;
  height: 85px;
  text-align: center;
  right: 290px;
}
.creds h3,h5 {
  color: black;
}
.mid {
  width: 1348px;
  position: relative;
  top: 85px;
}
.mid p {
  font-size: 15px;
}
}  

@media only screen and (max-width: 1000px){
#sorry {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#sorry h1{
  font-size: 3em;
  margin: 0;
  color: white;
}
#sorry p {
  font-size: 1.5em;
  margin-top: 10px;
  color: white;
}
}

@media only screen and (max-width: 720px){
  #sorry {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #sorry h1{
    font-size: 15px;
    margin: 0;
    color: white;
  }
  #sorry p {
    font-size: 15px;
    margin-top: 10px;
    color: white;
  }
  }

  @media only screen and (max-width: 500px){
    #sorry {
      z-index: 1001;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #sorry h1 {
      font-size: 15px;
      margin: 0;
      color: white;
    }
    #sorry p {
      font-size: 15px;
      margin-top: 10px;
      color: white;
    }
    }

    @media only screen and (max-width: 320px){
      #sorry {
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #sorry h1 {
        font-size: 5.6px;
        margin: 0;
        color: white;
        overflow-wrap: break-word;
        position: relative;
        left: -206px;
      }
      #sorry p {
        font-size: 15px;
        margin-top: 10px;
        color: white;
        position: relative;
        left: -208px;
      }
    }
    
